<div class="jumbotron">
    <h1>Adventure Works</h1>
    <p class="lead">We have something for every thrill seeking, adventure seeking cyclist out there.</p>
    <!--
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
     -->
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Mountain Bikes</h2>
        <p><img id="img_mountainbikes" alt="Mountain Bikes" src="@Url.Content("~/Content/MountainBike.gif")" /></p>
        <p><a class="btn btn-default" href="~/Products/Category/M">Shop &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Road Bikes</h2>
        <p><img id="img_roadbikes" alt="Road Bikes" src="@Url.Content("~/Content/RoadBike.gif")" /></p>
        <p><a class="btn btn-default" href="~/Products/Category/R">Shop &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tour Bikes</h2>
        <p><img id="img_tourbikes" alt="Tour Bikes" src="@Url.Content("~/Content/TourBike.gif")" /></p>
        <p><a class="btn btn-default" href="~/Products/Category/T">Shop &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Parts</h2>
        <p><img id="img_parts" alt="Parts" src="@Url.Content("~/Content/Component.gif")" /></p>
        <p><a class="btn btn-default" href="~/Products/Category/P">Shop &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Accessories</h2>
        <p><img id="img_accessories" alt="Accessories" src="@Url.Content("~/Content/Accessory.gif")" /></p>
        <p><a class="btn btn-default" href="~/Products/Category/A">Shop &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clothing</h2>
        <p><img id="img_clothing" alt="Clothing" src="@Url.Content("~/Content/Clothing.gif")" /></p>
        <p><a class="btn btn-default" href="~/Products/Category/C">Shop &raquo;</a></p>
    </div>
</div>